<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ToDoList</title>
  <link rel="stylesheet" href="">
</head>

<body>
<!-- Title -->
<h1>To Do Page</h1>

<!-- Form -->

<form id="input" action="/" method="post">
  <input class="input" type="text" name="item" placeholder="Add an Item" value="">
  <input class="button" type="submit" name="" value="Add Item to List">
</form>

<!-- ToDo Items -->
<h2>To Do Items</h2>

{{#data}}

<li>
  <form class="todo" action="/{{id4}}" method="post">
    <input type="submit" value="x" />
    <span>{{text2}}</span>
  </form>
</li>

{{/data}}


<!-- Done Items -->
<h2>Done Items</h2>

{{#doneList}}

<span>{{text2}}</span>

{{/doneList}}

</body>
</html>