<!DOCTYPE html>
// this form is not needed
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>my roster</h1>
    <ul>
      {{#todo}}
      <li>{{name}}, {{sport}}, {{ranking}}</li>
      {{/todo}}
    </ul>
  </body>
</html>
